<div class="wrapper">
  <div class="user-input">
    <form [formGroup]="calculateForm" (ngSubmit)="onSubmit()">
      <input
        type="number"
        placeholder="Bruto Masa"
        formControlName="brutoMass"
        (keydown.enter)="onSubmit()"
      />
      <input
        type="number"
        placeholder="Broj gajbi"
        formControlName="numberOfCrades"
        (keydown.enter)="onSubmit()"
      />
      <div class="submit-button-div">
        <button type="submit">Izracunaj</button>
        <button (click)="resetForm()">Resetuj Unos</button>
      </div>
    </form>
  </div>
  <div class="calculation-output">
    <h2>Neto Masa: {{ netoMass }}</h2>
    <h2>Tezina Gajbica: {{ cradesWeight }}</h2>
  </div>
</div>
